body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
.logo__text {
    margin-left: 10px;
    
}
.card-href {
    color: black;
}
.card-href:active {
    color: black;
}
.card-href:visited {
    color: black;
}

.date__card {
    padding: 10px !important; 
    font-size: small !important; 
}
.btn__main {
    margin-right: 10px;
}
.footer-icons {
    margin-top: 20px;
}
.footer__icon:nth-last-child(odd) {
    margin-left: 10px;
}
li.side__white {
    color: white !important;
}


.swiper {
    width: 100%;
    height: 50%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    
}
.swiper-pagination-bullet-active {
    background-color: #FFAC3A;
  }
.swiper-button-next,
.swiper-button-prev{
    color: #FFAC3A;
}
.card-image {
    height: 200px;
    overflow: hidden;
}
.card__height {
    height: 180px;
    overflow: hidden;
}
.card-title {
    font-size: 20px !important;
}
.card-content p {
    font-size: 14px !important;
}
@media (min-width: 601px) {
    nav .container {
        width: 95%;
    }
    .card .card-content {
        padding: 15px;
    }
}
@media (max-width: 350px) {
    .brand-logo {
        visibility: hidden;
    }
    h4 {
        font-size: 1.65rem;
    }
    h5 {
        font-size: 1.5rem;
    }
}
