<div id="newsData" th:fragment="newscontainer">
    <th:block th:each="newentity: ${news}">
        <div class="col s12 m4 l4">
            <a class="card-href" th:href="${'/news/'+newentity.id}">
                <div class="card hoverable">

                    <div class="card-image">
                        <img th:src="${newentity.titleImagePath}" alt="Фото карточки"/>
                    </div>
                    <div class="card-content card__height">
                        <span class="card-title" th:text="${newentity.title}"></span>
                        <!--Заголовок-->
                        <p th:text="${newentity.description}"></p>
                    </div>
                    <div class="card-action">
                        <span class="orange-text" th:text="${newentity.categories.get(0).title}"></span>
                    </div>
                </div>
            </a>
        </div>
    </th:block>
</div>