<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="banner" class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/img/priem.jpg" alt="first"></div>
        <div class="swiper-slide"><img src="/img/BIM.jpg" alt="second"></div>
        <div class="swiper-slide"><img src="/img/forum.jpg" alt="third"></div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>
</body>
</html>