<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="eventData" th:fragment="eventcontainer">
    <th:block th:each="event: ${events}">
        <div class="col s12 m4 l4">
            <a class="card-href" th:href="${'/events/'+event.id}">
                <div class="card hoverable">
                    <div class="card-image">
                        <img th:src="${event.titleImagePath}" alt="Фото карточки"/>
                        <th:span class="card-title orange black-text z-depth-2 date__card" th:text="${event.getDate()}"></th:span>
                    </div>
                    <div class="card-content card__height">
                        <span class="card-title" th:text="${event.title}"></span>
                        <!--Заголовок-->
                        <p th:text="${event.description}"></p>
                    </div>
                    <div class="card-action">
                        <span class="orange-text" th:text="${event.categories.get(0).title}"></span>
                        <!--Категория-->
                    </div>
                </div>
            </a>
        </div>
    </th:block>
</div>
<div id="newsData" th:fragment="newscontainer">
    <th:block th:each="newentity: ${news}">
        <div class="col s12 m4 l4">
            <a class="card-href" th:href="${'/news/'+newentity.id}">
            <div class="card hoverable">

                <div class="card-image">
                    <img th:src="${newentity.titleImagePath}" alt="Фото карточки"/>
                </div>
                <div class="card-content card__height">
                    <span class="card-title" th:text="${newentity.title}"></span>
                    <!--Заголовок-->
                    <p th:text="${newentity.description}"></p>
                </div>
                <div class="card-action">
                    <span class="orange-text" th:text="${newentity.categories.get(0).title}"></span>
                </div>
            </div>
            </a>
        </div>
    </th:block>
</div>

<div id="projectData" th:fragment="projectcontainer">
    <th:block th:each="projectentity: ${projects}">
        <div class="col s12 m4 l4">
            <a class="card-href" th:href="${'/projects/'+projectentity.id}">
            <div class="card hoverable">
                <div class="card-image">
                    <img th:src="${projectentity.titleImagePath}" alt="Фото карточки"/>
                </div>
                <div class="card-content card__height">
                    <span class="card-title" th:text="${projectentity.title}"></span>
                    <!--Заголовок-->
                    <p th:text="${projectentity.description}"></p>
                </div>
                <div class="card-action">
                    <span class="orange-text" th:text="${projectentity.categories.get(0).title}"></span>
                </div>
            </div>
            </a>
        </div>
    </th:block>
    <script>
        function clicked(id){
            location.href('/news/'+id)
        }
    </script>
</div>
</body>
</html>